.presents {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 180px;
  align-items: center;
  row-gap: 140px;
}

.present {
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    scale: 1.15;
  }

  &:first-of-type {
    background: repeating-linear-gradient(
      45deg, 
      #b50202 0 10px,   /* red stripe */
      #f8e8e8 10px 20px  /* white stripe */
    );
  }

  &:nth-of-type(2) {
    background:
      radial-gradient(circle, white 10%, transparent 11%),
      #541212; 
    background-size: 20px 20px; 
    background-position: 0 0, 10px 10px; 
  }

  &:nth-of-type(3) {
    background:
      radial-gradient(circle, #ffffff 6%, transparent 7%),
      radial-gradient(circle, #ffffffaa 4%, transparent 5%),
      #254D70; 
    background-size: 30px 30px, 60px 60px;
  }

  &:nth-of-type(4) {
    background:
      radial-gradient(circle at 25% 25%, #ff90bb 20%, transparent 21%),
      radial-gradient(circle at 75% 75%, #ff90bb 20%, transparent 21%),
      #EE99C2;
    background-size: 40px 40px;
  }

  &:nth-of-type(5) {
    background: repeating-linear-gradient(
      135deg,
      #d00000 0 20px,   /* base red */
      #d00000 0 35px,
      #fedd7a 35px 40px /* gold stripe */
    );
  }
  

  &__box {
    width: 100px;
    height: 100px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0,0,0,0.25);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__ribbon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 16px;
    height: 100%;
    z-index: 2;
  }

  &__bow {
    position: absolute;
    left: 50%;
    top: -3px;
    width: 32px;
    height: 28px;
    transform: translateX(-50%);
    z-index: 3;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% calc(100% - 10px), 0 100%);
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3));
    filter: brightness(0.8);
  }

  &__lid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    transform-origin: top center;
    transition: 
    top ease-out .5s,
    left ease-out .5s,
    transform ease-out .5s;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
  }

  &__challenge-text {
    opacity: 0;
    transform: translateY(0);
    transition: all 0.6s ease;
    font-weight: bold;
    color: white;
    text-align: center;
    z-index: 0;
    padding: 5px;
  }

  &--open {
    .present__challenge-text {
      opacity: 1;
      transform: translateY(-80px);
    }

    .present__lid {
      transform: rotateZ(10deg);
      top: -90px;
      left: 10px;
    }
  }
}