.navigation {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 9;
  background-color: rgba(36, 36, 36, 1);

  a {
    color: #1a1840;
    color: white;
  }

  nav {
    display: flex;
    gap: 20px;
    padding: 15px 30px;
  }
}