.navigation {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 9;
  background-color: #242424;

  a {
    color: white;
    font-size: 18px;
  }

  nav {
    display: flex;
    gap: 20px;
    padding: 15px 30px;
    justify-content: center;
  }
}